@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin:0;
    padding: 0;
}
footer {
    position: fixed;
    bottom: 0;

}

@media (max-height:800px)
{
    footer{
        position:static;
    }
}

.son{
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;


}

.son .footer-left, .son .footer-center, .son .footer-right{

     display: inline-block;
     vertical-align:top;

}

.son .footer-left{
    width: 30%;
}

.son h3{
    color: #ffff;
    font: normal 36px 'cookie', cursive;
    margin: 0px;
}

.son h3 span{
    color: #e0ac1c;
}

.son .footer-links{
    color:#ffff;
    margin: 20px 0 12px;

}

.son .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration:none;
    color: inherit;
}

.son .footer-company-name{
    color: #8f9296;
    font-size:14px;
    font-weight: normal;
    margin: 0;

}

.son .footer-center{
    width: 35%;
}

.son .footer-center i{
    background-color: #33383b;
    color: #fff;
    font-size:25px;
    width:38px;
    height:38px;
    border-radius:50%;
    text-align: center;
    line-height: 42px;
    margin:10px 15px;
    vertical-align: middle;

}

.son .footer-center i.fa-envelope{
    font-size:17px;
    line-height:38px;
}

.son .footer-center p{
    display:inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;

}

.son .footer-center p span{
    display:block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;

}

.son .footer-center p a{
    color:#e0ac1a;
    text-decoration: none;

}

.son .footer-right{
    width: 30%;
}

.son .footer-company-about{
    line-height: 20px;
    color: #92999f ;
    font-size:13px;
    font-weight: normal;
    margin:0;
}

.son .footer-company-about span{
    display: block;
    color: #fff;
    font-size:18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links a:hover{
    color:#3f71ea;

}


@media(max-width: 880px){
    .son .footer-links, .son .footer-center, .son .footer-right{
        display: block;
        width: 100%;
        margin-bottom:40px;
        text-align: center;
    }
    .son .footer-center i {
        margin-left:0;
    }
}